.marginLeftRecord {
	margin-left: -7%;
}

.paddingForm {
	padding-top: 20px;
}

.textboxSize {
	width: 170px;
	height: 35px;
	border-radius: 6px;
}

.errFontStyle {
	color: red;
}

.activeStyle {
	width: 150;
}

.errFontStyle {
	color: red;
}

.floatRight {
	float: right;
}

.fontStyle {
	color: blue;
}

.selectcss {
	width: 70%;
}

.textBoxWidth {
	width: 400px;
	height: 30px;
}

.textAreaWidth {
	width: 400px;
	height: 60px;
}

.errFontStyle {
	color: red;
	font-weight: bold;
}

