.center{
	text-align: center;
}

.heading{
	font-family:Georgia;
}

.textboxSize {
	width: 200px;
	height: 35px;
	border-radius: 6px;
}

.textAreaSize1 {
	width: 300px;
	height: 50px;
	border-radius: 6px;
	margin-left: 15px;
}

.errFontStyle {
	color: red;
	font-weight: bold;
}

.letterStyle {
	border: solid;
	border-width: 2px;
	padding: 20px 25px 20px 100px;
};

.addComponent {
	max-height: 100%;
	overflow: scroll;
};

.paddingTop {
	padding-top: 10px;
}

.setWidth {
	width: 100%
}

.block {
	border: solid;
	border-width: 2px;
	padding: 20px 25px 20px 100px;
}

/*.selectcss {
	width: 80%;
}*/

.setPaddingleft {
	padding-left: 15px;
}

.floatRight {
	float: right;
}

.paddingLeft {
	padding-left: 1029px;
}

.marginRight {
	margin-right: 60px;
}

.fixPosition {
	position: fixed;
	right: 93px;
	margin-right: 10px
}
