.Footer {
 position: fixed;
 right: 0;
 bottom: 0;
 left: 0;
 padding: 1rem;
 background-color: #efefef  ;
 text-align: center;
}

.font {
	display:inline-block;
	/*width: 800px;*/
	/*text-align: center;*/
}

.center{
	text-align: center;
}

.textAreaSize {
	width: 300px;
    height: 75px;
}

.error{
	font-weight: bold;
	color: #B82E00;
}

.heading{
	font-family:Georgia;
}

.letterStyle {
	border: 'solid';
}

.marginLeftRecord {
	margin-left: -7%;
}

.marginLeftRecordNewIncident {
	margin-left: -35%;
}